.jumbotron {
	text-align: center;
	background-color: #337ab7;
	color: white;
}

.panel-heading{
	text-align: center;
	background-color: blue;
	color: white;
}

footer{
	text-align: right;
	background-color: #337ab7;
	color: white;
}
